<div class="lebonrein-container">
  <div class="tabs">
    <div class="tab tab-active" id="tab-orders">
      Mes commandes
    </div>
    <div class="tab" id="tab-sales">
      Mes ventes
    </div>
  </div>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="tab-content-orders" role="tabpanel" aria-labelledby="home-tab">
      <% @bookings.each do |booking| %>
        <%= render "bookings/card_booking", booking: booking %>
      <% end %>
    </div>

    <div class="tab-pane fade show" id="tab-content-sales" role="tabpanel" aria-labelledby="profile-tab">
      <% @bookings.each do |booking| %>
        <%= render "bookings/card_sale", booking: booking %>
        <% if booking.availability == "pending" %>
          <%= button_to "Accepter", booking_path(booking, action_btn: "accept"), method: :put %>
        <% else %>
          <p>Vente acceptée !</p>
        <% end %>

        <% if booking.availability == "pending" %>
          <%= button_to "Refuser", booking_path(booking), method: :delete %>
        <% else %>
          <%= button_to "Annuler", booking_path(booking), method: :delete %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
