<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-default">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
          <li class="nav-element active">
            <%= link_to "Liste des organes", organs_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-element">
            <%= link_to "Créer une annonce", new_organ_path, class: "nav-link" %>
          </li>
          <li class="nav-element">
            <%= link_to "Tableau de bord", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-element dropdown">
            <%= image_tag "https://koreamts.com/wp-content/uploads/avatar-7.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profil", "#", class: "dropdown-item" %>
              <%= link_to "Connexion", "#", class: "dropdown-item" %>
              <%= link_to "Déconnexion", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-element">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
