<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-default">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo.png"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav justify-content-center">
          <li class="nav-item active">
            <%= link_to "Liste des organes", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Créer une annonce", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Tableau de bord", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profil", "#", class: "dropdown-item" %>
              <%= link_to "Connexion", "#", class: "dropdown-item" %>
              <%= link_to "Déconnexion", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
