<div class="show-layout lebonrein-container">
  <h1 class= "show-title"><%= @organ.name %></h1>


  <div class= "organ-content">
    <%= cl_image_tag @organ.image_url.key, crop: :fill %>
    <div class="organ-info">
     <p><%= @organ.category %></p>
     <p><%= @organ.description %></p>

    <div class="organ-info-bottom">
      <h2><%= @organ.pricing %>€</h2>
    </div>
     <% if @organ.user == current_user %>
      <%= link_to "Modifier", edit_organ_path, class: "btn btn-lg" %>
      <%= link_to "Supprimer", organ_path(@organ), class: "btn btn-lg" , data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
       <% else %>
       <div class="btn-buy">
        <%= link_to "Reserver", organ_booking_path(@organ), class: "btn btn-lg" , data: { turbo_method: :patch } %>
      </div>

      <% end %>
    </div>
  </div>
</div>
