<div class="show-layout lebonrein-container">
  <h1 class= "show-title"><%= @organ.name %></h1>


  <div class= "organ-content">
   <% if @organ.image_url.key.present? %>
    <%= cl_image_tag @organ.image_url.key, crop: :fill %>
    <% end %>
    <div class="organ-info">
      <p><%= @organ.category %></p>
      <p><%= @organ.description %></p>
      <p>
        <% if @organ.user != current_user && @organ.user.average_rating %>
          <%= "Vendu par : #{@organ.user.username}" %>
          <%= "(#{@organ.user.average_rating} ⭐️)" %>
        <% elsif @organ.user == current_user %>
        <% else %>
          <%= "Vendu par : #{@organ.user.username}" %>
        <% end %>
      </p>

    <div class="organ-info-bottom">
      <h2><%= @organ.pricing %>€</h2>
    </div>
     <% if @organ.user == current_user %>
      <%= link_to "Modifier", edit_organ_path, class: "btn btn-lg" %>
      <%= link_to "Supprimer", organ_path(@organ), class: "btn btn-lg" , data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
     <% elsif current_user.nil? %>
      <p>Connectez-vous pour pouvoir réserver cet organe</p>
     <% else %>
       <div class="btn-buy">
        <%= link_to "Reserver", booking_path(@organ.booking, action_btn: "book"), class: "btn btn-lg" , data: { turbo_method: :patch } %>
      </div>

      <% end %>
    </div>
  </div>
</div>
